<h3>{{ texts.lesson1Title }}</h3>
<p>
  Drzewo binarne jest to struktura danych, która pozwala na przechowywanie danych w pewnej hierarchii.
  Może zostać użyte nie tylko do przechowywania danych, ale również posortowania danych.
</p>
<p>
  Tak jak w prawdziwym w życiu drzewo binarne posiada swój pewien korzeń, gałęzie oraz liście.
  Drzewo Binarne jest szczególnym przypadkiem gdzie z dowolnego węzła mogą wychodzić maksymalnie dwie gałęzie.
  Od strony technicznej korzeń jest to wtedy punkt początkowy drzewa.
  Gałęzie to połączenie pomiędzy odpowiednimi węzłami.
  Łączą one rozgałęzienie z kolejnym rozgałęzieniem, albo z liśćmi.
  W tym przypadku liść jest pewną informacją zapisaną w drzewie.
  W celu uporządkowania drzewa traktujemy, że każde rozgałęzienie ma liście.
</p>
<p>
  Oto przykład drzewa binarnego w którym są przechowywane pewne liczby.
</p>
<app-binary-tree [data]="firstDemonstrationTree"></app-binary-tree>
<p>
  Drzewo jest wysokości {{ firstDemonstrationTree.height }}. Szare kółka nazywamy węzłami.
  Każdy węzeł może posiadać pewną wartość.
  Niekonicznie musi to być liczba. Pomiędzy dwoma dowolnymi węzłami prowadzi dokładnie jedna droga.
  Niektóre węzły mają dwie gałęzie, są takie co mają jedno, a jeszcze inni nie mają w ogóle.
</p>
<!--<span>-->
  <!--Prozę pokazać następne elementy:-->
  <!--<ul>-->
    <!--<li>a. korzeń</li>-->
    <!--<li>b. gałęzie</li>-->
    <!--<li>c. ścieżka</li>-->
    <!--<li>d. liść</li>-->
    <!--<li>e. węzeł wewnętrzny</li>-->
    <!--<li>f. węzły potomne dla …</li>-->
    <!--<li>g. węzeł rodzicielski dla …</li>-->
    <!--<li>h. podać stopień węzła</li>-->
  <!--</ul>-->
<!--</span>-->
<div class="animator">
  <button mat-icon-button [disabled]="true">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <app-binary-tree [data]="elementsDemonstrationTree"></app-binary-tree>
  <button mat-icon-button>
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>
<h3>Exercise 1</h3>
<app-binary-tree [data]="binaryTreeData"
                 [isSelectionEnabled]="true">
</app-binary-tree>
