<div #binaryTreeSvg [id]="svgId"></div>

<lgr-tooltip *ngFor="let nodeTooltip of nodesTooltips | keyvalue"
             [tooltipText]="nodeTooltip.value.tooltipText"
             [startX]="nodeTooltip.value.startX"
             [startY]="nodeTooltip.value.startY">
</lgr-tooltip>
<lgr-tooltip *ngFor="let branchTooltip of branchesTooltips | keyvalue"
             [tooltipText]="branchTooltip.value.tooltipText"
             [startX]="branchTooltip.value.startX"
             [startY]="branchTooltip.value.startY">
</lgr-tooltip>
