<h3>{{ lessonTitleWithNumber }}</h3>
<p>
  <strong>Przechodzenie drzewa</strong> – proces odwiedzania wszystkich węzłów drzewa.
</p>
<p>Wyróżnia się 3 sposoby rekursywnego przejścia drzewa binarnego:</p>
<li>VLR – pre-order, przejście wzdłużne,</li>
<li>LVR – in-order, przejście poprzeczne,</li>
<li>LRV – post-order, przejście wsteczne,</li>
<p>
  <small>gdzie: Visit – „odwiedź” węzeł, Left – przejdź lewe poddrzewo, Right – przejdź prawe poddrzewo.</small>
</p>
<mat-tab-group mat-align-tabs="center" (selectedTabChange)="prepareTreeForTab($event.index)">
  <mat-tab label="Pre-order">
    <ng-template matTabContent>
      <ng-container [ngTemplateOutlet]="animationRunnerTemplate"></ng-container>
    </ng-template>
  </mat-tab>
  <mat-tab label="In-order">
    <ng-template matTabContent>
      <ng-container [ngTemplateOutlet]="animationRunnerTemplate"></ng-container>
    </ng-template>
  </mat-tab>
  <mat-tab label="Post-order">
    <ng-template matTabContent>
      <ng-container [ngTemplateOutlet]="animationRunnerTemplate"></ng-container>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<ng-template #animationRunnerTemplate>
  <lgr-tree-animation-runner #animationRunner
                             [data]="orderTree"
                             (started)="runTreeOrderAnimation()">
  </lgr-tree-animation-runner>
</ng-template>
