<div>
  <p>Exercise</p>
  <!-- <app-graph-binary-tree [data]="graphBinaryTreeData"></app-graph-binary-tree> -->
  <!--<svg #drawingPanel-->
       <!--width="500"-->
       <!--height="500"-->
       <!--style="border: 1px solid lightgrey"-->
       <!--(click)="createCircle($event.offsetX, $event.offsetY)">-->
    <!--<circle cx="32"-->
            <!--cy="50"-->
            <!--r="25"-->
            <!--stroke="green"-->
            <!--stroke-width="4"-->
            <!--[attr.fill]="circleColor"-->
            <!--(mousedown)="setCircleColor('red')"-->
            <!--(mouseup)="setCircleColor('green')">-->
    <!--</circle>-->
  <!--</svg>-->
  <div id="svgjstest"
       style="border: 1px solid green; height: 500px">
  </div>
  <button (click)="test()">Test</button>
  <button (click)="test1()">Test</button>
