mat-sidenav-container {
  height: 100%;
}

mat-toolbar {
  padding: 0;
  height: 35px;
  -webkit-app-region: drag;
  font-size: 16px;
}

mat-toolbar button {
  -webkit-app-region: no-drag;
}

button.toolbar-button,
button.toolbar-button div {
  padding: 0;
  width: 30px;
  min-width: 30px;
  margin: 0 9px;
}

span.window-controls-buttons button {
  margin: 0 5px;
}

span.window-controls-buttons {
  margin: 0 9px;
  float: left;
}

span.flex-spacer {
  flex-grow: 1;
}