mat-sidenav-container {
  height: 100%;
}

mat-toolbar {
  padding-left: 0px;
  height: 50px;
}

button.menu-button,
button.menu-button div {
  padding: 0;
  width: 40px;
  min-width: 40px;
  margin: 0 9px;
}