<mat-toolbar [color]="'primary'">
  <button mat-button class="menu-button" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ navigator.selectedItem ? navigator.selectedItem : 'Le Graph - Learn graph quick end easy!' }}</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'side'" [opened]="true">
    <app-navigation #navigator></app-navigation>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-lesson [currentLesson]="navigator.selectedItem"></app-lesson>
  </mat-sidenav-content>
</mat-sidenav-container>