<mat-toolbar [color]="'primary'">
  <button mat-button class="toolbar-button" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ navigator.selectedItem ? navigator.selectedItem : 'Le Graph - Learn graph quick end easy!' }}</span>
  <span class="flex-spacer"></span>
  <span class="window-controls-buttons">
    <button mat-button class="toolbar-button" (click)="sidenav.toggle()">
      <mat-icon>minimize</mat-icon>
    </button>
    <button mat-button class="toolbar-button" (click)="sidenav.toggle()">
      <mat-icon>settings_overscan</mat-icon>
    </button>
    <button mat-button class="toolbar-button" (click)="sidenav.toggle()">
      <mat-icon>close</mat-icon>
    </button>
  </span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'side'" [opened]="true">
    <app-navigation #navigator></app-navigation>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-lesson [currentLesson]="navigator.selectedItem"></app-lesson>
  </mat-sidenav-content>
</mat-sidenav-container>