<h3>Ćwiczenie 1</h3>
<div class="dynamic-inliner">
  <div>
    <div *ngFor="let goal of shownGoals" class="text-with-check">
      <lgr-check mat-ripple [checked]="goal.isAchieved"></lgr-check>
      <span [ngClass]="{ 'checked-text': goal.isAchieved }">{{ goal.description }}</span>
    </div>
  </div>
  <lgr-binary-tree #treeComponent
                   [data]="tree"
                   [interactivityMode]="BinaryTreeComponentMode.selectable"
                   (nodeClicked)="handleNodeClick($event)">
  </lgr-binary-tree>
</div>
