<div class="tree-level">
  <button mat-fab
          color="primary"
          class="graph-node mat-elevation-z">{{ data.value }}</button>
</div>
<div class="tree-level">
  <div class="child-node">
    <app-graph-binary-tree *ngIf="data.children[0]"
                            [data]="data.children[0]"></app-graph-binary-tree>
  </div>
  <div class="child-node">
    <app-graph-binary-tree *ngIf="data.children[1]"
                            [data]="data.children[1]"></app-graph-binary-tree>
  </div>
</div>