button.graph-node {
  height: 45px;
  width: 45px;
}

button.graph-node >>> span.mat-button-wrapper {
  line-height: 0;
}

.tree-level {
  text-align: center;
}

.child-node {
  width: 50%;
  display: inline-block;
}
